body{
    background-color: hsl(216, 12%, 8%);
}

.Main-layout{
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    width: 310px;
    height: 320px;
    padding: 40px 0 0 30px;
}

.Main-layout h1{
    font-size: 23px;
    color: hsl(0, 0%, 100%);
    
}

.Main-layout img{
    height: 12px;
    width: 12px;
    padding: 10px 0 0 10px;
}

.circle{
    background-color: hsl(216, 12%, 26%);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.Main-layout p{
    font-size: 12px;
    width: 270px;
    color: hsl(217, 12%, 63%);
}

.buttons{
    display: flex;
    margin: 30px 0 30px 0 ;
    padding-right: 25px;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
}

.button1{
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 26%);
    border-radius: 50%;
    width: 25px;
    height: 30px;
    padding: 10px 0 0 15px;
    cursor: pointer;
}

.button1:hover{
    background-color: hsl(25, 97%, 23%);
    color: #fff;
    }
    
.button1:active{
    background-color: hsl(216, 12%, 54%);
    color: #fff;
}

.button2{
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 26%);
    border-radius: 50%;
    width: 25px;
    height: 30px;
    padding: 10px 0 0 15px;  
    cursor: pointer;
}

.button2:hover{
    background-color: hsl(25, 97%, 23%);
    color: #fff;
    }
    
.button2:active{
    background-color: hsl(216, 12%, 54%);
    color: #fff;
}


.button3{  
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 26%);
    border-radius: 50%;
    width: 25px;
    height: 30px;
    padding: 10px 0 0 15px; 
    cursor: pointer;
    
}

.button3:hover{
    background-color: hsl(25, 97%, 23%);
    color: #fff;
    }
    
.button3:active{
    background-color: hsl(216, 12%, 54%);
    color: #fff;
}


.button4{   
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 26%);
    border-radius: 50%;
    width: 25px;
    height: 30px;
    padding: 10px 0 0 15px; 
    cursor: pointer;
}

.button4:hover{
    background-color: hsl(25, 97%, 23%);
    color: #fff;
    }
    
.button4:active{
        background-color: hsl(216, 12%, 54%);
        color: #fff;
    }


.button5{  
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 26%);
    border-radius: 50%;
    width: 25px;
    height: 30px;
    padding: 10px 0 0 15px;  
    cursor: pointer;
}

.button5:hover{
    background-color: hsl(25, 97%, 23%);
    color: #fff;
    }
    
.button5:active{
    background-color: hsl(216, 12%, 54%);
    color: #fff;
}

.button-layout{
    width: 280px;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 700;
}


.button-layout:hover{
    background-color: hsl(25, 97%, 33%);
    color: #fff;
    }
    
.button-layout:active{
        background-color: hsl(25, 97%, 73%);
    }